<article class="gh-card {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
        {{#if feature_image}}
            <picture class="gh-card-picture">
                <source
                    srcset="
                {{img_url feature_image size="xxs" format="avif"}} 30w,
                {{img_url feature_image size="xs" format="avif"}} 100w,
                {{img_url feature_image size="s" format="avif"}} 300w,
                {{img_url feature_image size="m" format="avif"}} 600w,
                {{img_url feature_image size="l" format="avif"}} 1200w,
                {{img_url feature_image size="xl" format="avif"}} 2000w"
                    sizes="(min-width: 1200px) 1200px, 100vw"
                    type="image/avif"
                    loading="lazy"
                />
                <img
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}"
                    class="gh-card-image"
                    loading="lazy"
                />
            </picture>
        {{/if}}
        <div class="gh-card-content">
            <span class="gh-card-meta"><time
                    datetime="{{date format="YYYY-MM-DD"}}"
                >{{date format="D MMM YYYY"}}</time>
                <span class="bull">&bull;</span>
                {{reading_time}}</span>
            <h2 class="gh-card-title">{{title}}</h2>
            <p>{{excerpt}}</p>
            <strong>Read more</strong>
        </div>
    </a>
</article>