<article class="PostItem blogpost h-entry gh-micro-card" data-index="{{@index}}" data-slug="{{slug}}" tabindex="0" data-tags="{{primary_tag.slug}}">

    {{! Profil Görseli }}
    {{#if primary_author.profile_image}}
        <img src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" class="Pic Persona gh-micro-card-author-image" loading="lazy" decoding="async" />
    {{else}}
        {{> "icons/avatar"}} {{! Varsayılan avatar SVG'sini buraya ekliyoruz }}
    {{/if}}

    {{! Başlık Bilgisi - Sadece yazar ismi ve tarih görünecek }}
    <header class="inline-wrap gh-micro-card-header">
        <a href="{{primary_author.url}}" class="gh-micro-card-author-link truncate">
            <span class="username p-author">{{primary_author.name}}</span>
            <span>@{{primary_author.slug}}</span>
        </a>
        <time class="dt-published" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
    </header>

    {{! Gönderinin İçeriği - Ana sayfada sadece excerpt görünür, tüm post linklenir }}
    <section class="e-content">
        {{#if custom_excerpt}}
            <p>{{custom_excerpt}}</p>
        {{else}}
            <p>{{content words="30"}}</p> {{!-- Yalnızca 30 kelimelik özet gösterilecek --}}
        {{/if}}
        <a href="{{url}}" class="u-url">Read more</a> {{!-- Link, tıklanınca tüm postu gösterir --}}
    </section>

    {{! Ana Görsel Varsa Göster }}
    {{#if feature_image}}
        <figure class="gh-micro-card-image">
            <img loading="lazy" src="{{feature_image}}" alt="Micro Image" class="Pic" decoding="async" />
        </figure>
    {{/if}}

</article>
